doctype html
html(xmlns='http://www.w3.org/1999/html')
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        style(type='text/css').
            .submit-button{
                background-color: #990000;
                border:none;
                color: white;
                padding:10px 20px;
                border-radius: 5px;
            }
            .logo{
                text-align: center;
                padding: 20px;
            }
            .logo img{
                height: 40px;
                width: 200px;
            }
            input{
                display: block;
            }
            .top-margin{
                margin-top: 10%;
            }
    body
        form#resetForm(action=url, method='post', novalidate='')
            .container
                .box
                    .logo
                        img(src='https://s3.ap-south-1.amazonaws.com/ostinohealth/static/logo/ostino_logo1.png')
                .top-margin
                    .form-group
                        label(for='password') New Password:
                        input#password.form-control(type='password', placeholder='Enter your new password', name='password', required='')
                        p#pwd(style='display:none; color:#990000;')
                            | Password should be of minimum 6 characters in length and must contain at least 1 uppercase & 1 numeral
                    .form-group
                        label(for='confirmpwd') Confirm Password:
                        input#confirmpwd.form-control(type='password', placeholder='Confirm your password', name='confirmpwd', required='')
                        p#pwd1(style='display:none; color:#990000;') Password do not match
                        input#token(type='hidden' name='token')
                    .form-group.row
                        .col-sm-10
                            button.submit-button(type='submit', value='Submit')
                                | Submit
        script.

            $('#resetForm').submit(function(e) {
                var url = window.location.href.split("/");
                var token = url[url.length - 1];
                $("#token").val(token);
                //alert("token " + token);
                var exp = new RegExp("^(?=.*?[A-Z])(?=.*?[0-9]).{6,}$");
                var isFormValid = true;
                var valid =  exp.test($("#password").val());
                if(!valid) {
                    isFormValid = false;
                    $("#pwd").show();
                } else {
                    $("#pwd").hide();
                }
                var password = $("#password").val();
                var confirm = $("#confirmpwd").val();
                console.log(password + "----- " + confirm);
                if(password!=confirm) {
                    isFormValid = false;
                    $("#pwd1").show();
                } else {
                    $("#pwd1").hide();
                }
                if(!isFormValid) {
                    e.preventDefault();
                }
            })