div(style='display: flex;align-items: center;min-height:  100vh;background-color: #bbb;	overflow: hidden;')
    div(style='background-color: #bbb;width: 95%;margin-left: auto;margin-right: auto;')
        div
            div(style='text-align: center;padding: 20px;')
                img(src='https://s3.ap-south-1.amazonaws.com/ostinohealth/static/logo/ostino_logo1.png', style='height: 40px;width: 200px;')
            div(style='text-align: center;background-color: white;border-radius: 3px;width: 95%;margin-left: auto;margin-right: auto;padding-top: 20px;padding-bottom: 20px;')
                h1 Account Confirmation.
                p(style='font-size: 18px;')
                    | Thank you for confirming your account. Click
                    a(href= url + '/ecom/login', style='text-decoration: none;')  here
                    |  to login